.intro {
  margin: desktop-vw(50px) 0;
  padding: 0 desktop-vw(80px);

  > h1 {
    color: var(--science-blue);
    font-size: desktop-vw(40px);
    font-family: var(--font-dela-gothic-one);
    font-weight: 500;
    margin: 0 auto;
  }

  .breadcrumb {
    color: var(--science-blue);
    font-size: desktop-vw(16px);
    font-family: var(--font-fustat);
    font-weight: 500;
  }
}

.products {
  padding: 0 desktop-vw(80px);
  padding-bottom: desktop-vw(250px);

  .product {
    color: var(--science-blue);
    font-size: desktop-vw(18px);
    font-family: var(--font-fustat);
    font-weight: 500;
    gap: desktop-vw(16px);

    .imgC {
      @include dims(desktop-vw(260px), desktop-vw(310px));
      border-radius: desktop-vw(16px);
      border: 1px solid var(--science-blue);
      padding: desktop-vw(40px);
    }
  }
}
