.intro {
  position: relative;

  .logoC {
    @include dims(100%, auto);
    padding: desktop-vw(130px) 0 desktop-vw(260px) 0;

    @include mobile {
      padding: mobile-vw(130px) 0 mobile-vw(260px) 0;
    }
  }

  .iceC {
    @include position(absolute, auto, 0, 0, 0);
    transform: translateY(50%);
    z-index: 10;
  }

  .ice {
    opacity: 0.75;
    z-index: 10;
  }

  .ice1 {
    @include position(absolute, desktop-vw(100px), auto, auto, desktop-vw(100px));
    @include dims(desktop-vw(120px));

    @include mobile {
      @include position(absolute, mobile-vw(80px), auto, auto, mobile-vw(20px));
      @include dims(mobile-vw(40px));
    }
  }

  .ice2 {
    @include position(absolute, desktop-vw(330px), auto, auto, desktop-vw(180px));
    @include dims(desktop-vw(100px));

    @include mobile {
      @include position(absolute, mobile-vw(100px), auto, auto, mobile-vw(220px));
      @include dims(mobile-vw(50px));
    }
  }

  .ice3 {
    @include position(absolute, desktop-vw(50px), auto, auto, desktop-vw(730px));
    @include dims(desktop-vw(120px));

    @include mobile {
      @include position(absolute, mobile-vw(20px), auto, auto, mobile-vw(240px));
      @include dims(mobile-vw(50px));
    }
  }

  .ice4 {
    @include position(absolute, desktop-vw(280px), auto, auto, desktop-vw(1100px));
    @include dims(desktop-vw(85px));

    @include mobile {
      @include position(absolute, mobile-vw(280px), auto, auto, mobile-vw(100px));
      @include dims(mobile-vw(40px));
    }
  }

  .ice5 {
    @include position(absolute, desktop-vw(80px), auto, auto, desktop-vw(1300px));
    @include dims(desktop-vw(140px));

    @include mobile {
      @include position(absolute, mobile-vw(140px), auto, auto, mobile-vw(330px));
      @include dims(mobile-vw(50px));
    }
  }
}

.greetings {
  background-color: var(--science-blue);
  position: relative;

  .text {
    padding: desktop-vw(300px) 0;

    @include mobile {
      padding: mobile-vw(150px) 0;
    }

    > h1 {
      color: var(--white);
      font-family: var(--font-dela-gothic-one);
      font-size: desktop-vw(82px);
      font-weight: 400;
      line-height: 1.25;

      @include mobile {
        font-size: mobile-vw(40px);
        margin-bottom: mobile-vw(30px);
        text-align: center;
      }

      span {
        display: inline-block;

        &:nth-child(1) {
          margin-left: desktop-vw(500px);

          @include mobile {
            margin-left: 0;
          }
        }

        &:nth-child(2) {
          margin-left: desktop-vw(300px);

          @include mobile {
            margin-left: 0;
          }
        }

        &:nth-child(3) {
          margin-left: desktop-vw(400px);

          @include mobile {
            margin-left: 0;
          }
        }

        &:nth-child(4) {
          margin-left: desktop-vw(300px);

          @include mobile {
            margin-left: 0;
          }
        }
      }
    }

    > p {
      @include dims(desktop-vw(500px), auto);
      color: var(--white);
      font-family: var(--font-fustat);
      font-size: desktop-vw(18px);
      font-weight: 400;
      margin-left: desktop-vw(900px);

      @include mobile {
        @include dims(100%, auto);
        font-size: mobile-vw(18px);
        margin-left: 0;
        text-align: center;
      }
    }
  }

  .fullImg {
    position: relative;

    @include mobile {
      @include dims(100%, mobile-vw(300px));
    }

    .waveC {
      @include position(absolute, 0, 0, auto, 0);
      transform: translateY(-60%);
    }
  }

  .iceC {
    &.ice1 {
      @include position(absolute, desktop-vw(550px), auto, auto, desktop-vw(150px));
      @include dims(desktop-vw(150px));

      @include mobile {
        @include position(absolute, mobile-vw(500px), auto, auto, mobile-vw(150px));
        @include dims(mobile-vw(150px));
      }
    }

    &.ice2 {
      @include position(absolute, desktop-vw(850px), auto, auto, desktop-vw(700px));
      @include dims(desktop-vw(150px));

      @include mobile {
        @include position(absolute, mobile-vw(800px), auto, auto, mobile-vw(700px));
        @include dims(mobile-vw(150px));
      }
    }
  }
}

.why {
  border-bottom: 1px solid var(--algerian-colar);

  .marqueeC {
    border-bottom: 1px solid var(--algerian-colar);
    border-top: 1px solid var(--algerian-colar);
    padding: desktop-vw(50px) 0;

    @include mobile {
      padding: mobile-vw(30px) 0;
    }

    h2 {
      color: var(--black);
      font-family: var(--font-dela-gothic-one);
      font-size: desktop-vw(80px);
      font-weight: 400;

      @include mobile {
        font-size: mobile-vw(30px);
      }
    }

    .iconC {
      @include dims(desktop-vw(50px));
      margin: 0 desktop-vw(50px);

      @include mobile {
        @include dims(mobile-vw(30px));
        margin: 0 mobile-vw(30px);
      }
    }
  }

  .imgs {
    padding: desktop-vw(70px);
    position: relative;

    @include mobile {
      padding: mobile-vw(50px) mobile-vw(16px);
    }

    .imgC {
      border-radius: desktop-vw(10px);
      margin-bottom: desktop-vw(-200px);
      overflow: hidden;
      position: relative;

      @include mobile {
        border-radius: mobile-vw(10px);
        margin-bottom: mobile-vw(20px);
      }

      &.img1 {
        @include dims(desktop-vw(440px), desktop-vw(510px));
        margin-left: auto;
        transform: rotate(7deg);
        z-index: 10;

        @include mobile {
          @include dims(100%, mobile-vw(250px));
          transform: rotate(0deg);
        }
      }

      &.img2 {
        @include dims(desktop-vw(490px), desktop-vw(690px));
        transform: rotate(-5deg);
        z-index: 5;

        @include mobile {
          @include dims(100%, mobile-vw(250px));
          transform: rotate(0deg);
        }
      }
    }

    .iconC {
      @include dims(desktop-vw(120px));

      @include mobile {
        @include dims(mobile-vw(120px));
      }

      &.icon1 {
        @include position(absolute, desktop-vw(200px), auto, auto, desktop-vw(120px));
        transform: rotate(-5deg);
        z-index: 15;

        @include mobile {
          @include position(absolute, mobile-vw(200px), auto, auto, mobile-vw(120px));
        }
      }

      &.icon2 {
        @include position(absolute, desktop-vw(800px), auto, auto, desktop-vw(500px));
        transform: rotate(-5deg);
        z-index: 15;

        @include mobile {
          @include position(absolute, mobile-vw(800px), auto, auto, mobile-vw(500px));
        }
      }
    }
  }

  .text {
    padding: desktop-vw(140px) desktop-vw(80px) desktop-vw(60px) desktop-vw(30px);

    @include mobile {
      padding: mobile-vw(140px) mobile-vw(80px) mobile-vw(60px) mobile-vw(30px);
    }

    > p {
      color: var(--black);
      font-family: var(--font-fustat);
      font-size: desktop-vw(24px);
      font-weight: 400;
      margin-bottom: desktop-vw(100px);

      @include mobile {
        font-size: mobile-vw(24px);
        margin-bottom: mobile-vw(100px);
      }
    }

    li {
      margin-bottom: desktop-vw(50px);

      @include mobile {
        margin-bottom: mobile-vw(50px);
      }

      h5 {
        color: var(--science-blue);
        font-family: var(--font-dela-gothic-one);
        font-size: desktop-vw(30px);
        font-weight: 400;
        margin-bottom: desktop-vw(4px);
        position: relative;

        @include mobile {
          font-size: mobile-vw(30px);
          margin-bottom: mobile-vw(4px);
        }

        .iconC {
          @include position(absolute, 50%, auto, auto, 0);
          @include dims(desktop-vw(20px));
          align-items: center;
          transform: translate(calc(-100% - desktop-vw(12px)), -40%);
          display: flex;
          justify-content: center;

          @include mobile {
            @include dims(mobile-vw(20px));
            transform: translate(calc(-100% - mobile-vw(12px)), -40%);
          }
        }
      }

      p {
        color: var(--black);
        font-family: var(--font-fustat);
        font-size: desktop-vw(24px);
        font-weight: 400;

        @include mobile {
          font-size: mobile-vw(24px);
        }
      }
    }
  }
}

.slider {
  padding: desktop-vw(140px) 0;
  position: relative;

  @include mobile {
    padding: mobile-vw(50px) 0;
  }

  .sliderC {
    padding: desktop-vw(260px) 0;
    position: relative;

    @include mobile {
      padding: 0 0;
    }

    .bg {
      @include position(absolute, 50%, auto, auto, 50%);
      @include dims(100%);
      transform: translate(-50%, -50%);
      z-index: -1;
    }

    .button {
      @include dims(desktop-vw(60px));
      background-color: var(--white);
      color: var(--science-blue);
      border: 1px solid var(--science-blue);
    }
  }

  .title {
    color: var(--science-blue);
    font-family: var(--font-dela-gothic-one);
    font-size: desktop-vw(60px);
    font-weight: 400;
    margin-bottom: desktop-vw(40px);
    text-align: center;

    @include mobile {
      font-size: mobile-vw(30px);
      margin-bottom: mobile-vw(30px);
    }
  }

  .description {
    @include dims(desktop-vw(650px), auto);
    color: var(--black);
    font-family: var(--font-fustat);
    font-size: desktop-vw(24px);
    font-weight: 400;
    text-align: center;

    @include mobile {
      @include dims(mobile-vw(300px), auto);
      font-size: mobile-vw(15px);
    }
  }

  .ice {
    opacity: 0.75;
    z-index: 10;
  }

  .ice1 {
    @include position(absolute, desktop-vw(200px), auto, auto, desktop-vw(100px));
    @include dims(desktop-vw(120px));
    transform: rotate(8deg);

    @include mobile {
      @include position(absolute, mobile-vw(80px), auto, auto, mobile-vw(20px));
      @include dims(mobile-vw(40px));
    }
  }

  .ice2 {
    @include position(absolute, desktop-vw(930px), auto, auto, desktop-vw(180px));
    @include dims(desktop-vw(100px));
    transform: rotate(-8deg);

    @include mobile {
      @include position(absolute, mobile-vw(600px), auto, auto, mobile-vw(220px));
      @include dims(mobile-vw(50px));
    }
  }

  .ice3 {
    @include position(absolute, desktop-vw(950px), auto, auto, desktop-vw(1000px));
    @include dims(desktop-vw(120px));
    transform: rotate(-16deg);

    @include mobile {
      @include position(absolute, mobile-vw(20px), auto, auto, mobile-vw(240px));
      @include dims(mobile-vw(50px));
    }
  }

  .ice4 {
    @include position(absolute, desktop-vw(150px), auto, auto, desktop-vw(1100px));
    @include dims(desktop-vw(85px));
    transform: rotate(8deg);

    @include mobile {
      @include position(absolute, mobile-vw(280px), auto, auto, mobile-vw(100px));
      @include dims(mobile-vw(40px));
    }
  }

  .ice5 {
    @include position(absolute, desktop-vw(580px), auto, auto, desktop-vw(1250px));
    @include dims(desktop-vw(120px));
    transform: rotate(8deg);

    @include mobile {
      @include position(absolute, mobile-vw(140px), auto, auto, mobile-vw(330px));
      @include dims(mobile-vw(50px));
    }
  }
}

.contact {
  background-color: var(--science-blue);
  gap: desktop-vw(80px);
  padding: desktop-vw(20px);
  position: relative;

  @include mobile {
    gap: mobile-vw(80px);
    padding: mobile-vw(16px);
  }

  .formC {
    padding: desktop-vw(60px);
    padding-right: 0;

    @include mobile {
      padding: 0;
    }

    h2 {
      color: var(--white);
      font-family: var(--font-dela-gothic-one);
      font-size: desktop-vw(32px);
      font-weight: 400;
      margin-bottom: desktop-vw(50px);

      @include mobile {
        font-size: mobile-vw(30px);
        margin-bottom: mobile-vw(30px);
      }
    }
  }

  .imgC {
    @include dims(100%, desktop-vw(760px));
    border-radius: desktop-vw(20px);
    overflow: hidden;

    @include mobile {
      @include dims(100%, mobile-vw(250px));
      border-radius: mobile-vw(20px);
    }
  }

  // .waveC {
  //   @include position(absolute, auto, 0, 0, 0);
  //   transform: translateY(60%);
  //   z-index: -1;
  // }
}
