.sliderProducts {
  position: relative;

  .slide {
    .imgC {
      @include dims(500px);
      border: 1px solid red;
    }
  }

  .item {
    opacity: 1;

    &.active {
      opacity: 1;
    }
  }
}
